name: "Format"

on:
  workflow_call:

jobs:
  fmt-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: DeterminateSystems/determinate-nix-action@v3
      - name: Check formatting
        run: nix fmt -- --fail-on-change
